body {
    background: url(../img/fon.png) repeat #fc0; /* Цвет фона, путь к фоновому изображению и повторение фона по вертикали */
    margin: 0;
    padding: 0;
}

#logo{
    padding: 50px;
    background-color: #C3FDD7;
    margin: 2%;
}

.logo{
    color:blue;
    font-style:italic;
    text-align: center;
}

#content{
    background: #ffefd5;
    padding: 2%;
    margin-left: 2%;
    margin-right: 0%;
}

#content p{
    text-align: justify;
}

#content img{
    padding: 20px;
}

#content li{

    padding: 5px;
    margin-left: 5px;
}

#f p{
    text-align: center;
    color: #761c19;
}

#menu{
    background-color: #800080;
    margin-left: 2%;
    margin-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}

#menu a{
    color: white;
    display: block;
    padding: 5px;
    padding-left: 20px;
    margin-left: 5px;
    text-decoration: none;

}

#menu a:hover{
    background-color: #FCEA97;
    color: black;

}



h2 {
color:blue;
}

.new{
    color: grey;
}

