#content{
    background: grey;
    margin: 0;
    padding: 0;
}
#content a{
   color: white;
}


#content p{
    color: white;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
}

#content img{
    padding: 20px;
}

#content li{

    padding: 5px;
    margin-left: 5px;
}

#f p{
    text-align: center;
    color: #761c19;
}



#menu a{
    display: block;
    padding: 5px;
    padding-left: 20px;
    margin-left: 5px;
    text-decoration: none;

}

#menu a:hover{
    background-color: grey;
    color: white;
    text-align:right;
}


h1 {
    color:violet;
    font-style:italic;
    text-align: center;
}

h2 {
color:blue;
}

body{
background-color:yellow;
background-image: url("");
background-repeat: no-repeat;
}
.new{
    color: grey;
}

